<article class="card">
    <div class="card__container">
        <div class="card__image">
            <!-- https://unsplash.com/photos/black-ballpoint-pen-on-white-ruled-paper-sheet-vD9Gb_H7RR8 -->
            <img src="/assets/images/notes.jpg" alt="Notepad filled with handwritten notes">
        </div>
        <div class="card__title-container">
            <p class="title">{{title}}</p>
            <span class="subtitle">Posted on {{format_date published_date}}</span>
        </div>
    </div>
    <div class="mt-3 ml-3 mr-3">
        <div class="content">
            <p class="smaller-text mh-250px u-overflow-y-auto">{{body}}</p>
        </div>
        <div class="card__action-bar u-center">
            <a class="text-lg" href="/post/edit/{{id}}">Edit Post</a>
        </div>
    </div>
</article>