<section class="grid grid-cols-1 w-80p">
    <div class="content mb-0">
        <h2 class="u-center">Dashboard</h2>
    </div>
    <section class="u-center my-posts">
        <div class="content">
            <h3 class="u-center">My Posts</h3>
            <button class="u-center btn-link text-md" id="create-post-btn">Create New Post</button>
        </div>
        {{#if userPosts}}
        <section class="grid grid-cols-3 u-gap-3">
            {{#each userPosts}}
            {{> user-posts}}
            {{/each}}
        </section>
        {{else}}
        <h5>You do not have any posts. Use the button above to create your first post!</h5>
        {{/if}}
    </section>
{{!-- This div will be hidden until user clicks on new post button --}}
    <section class="card mt-3">
        <div class="create-post-form m-3 u-none">
            <form>
                <h3>Create New Post</h3>
                <div class="mb-1">
                    <label class="font-bold" for="post-title">Title</label>
                    <div class="section-body">
                        <div class="form-group">
                            <input type="text" class="form-group-input" id="post-title" placeholder="Write post title here" />
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <label class="font-bold" for="post-body">Body</label>
                    <textarea id="post-body" placeholder="Write your post here"></textarea>
                </div>
                <div class="u-flex u-justify-space-between">
                            <button class="form-group-btn btn-success text-md" type="submit">Create Post</button>
                            <button class="form-group-btn btn-danger text-md" id="cancel-btn" type="button">Cancel</button>
                        </div>
            </form>
        </div>
    </section>
</section>

<script src="/js/create-post.js"></script>