<div class="login-form u-absolute position">
    <h1>Login</h1>
    <form>
    <div class="form-group">
        <label class="form-group-label" for="username-login">Username:</label>
        <input class="form-group-input" type="text" id="username-login"/>
        <button class="form-group-btn" type="reset">X</button>
    </div>
    <div class="form-group">
        <label class="form-group-label" for="password-login">Password:</label>
        <input class="form-group-input" type="password" id="password-login"/>
        <button class="form-group-btn" type="reset">X</button>
    </div>
    <button class="form-group-btn btn-success text-md" type="submit">Login</button>
    </form>
    <p>Don’t have an account? <a href="/signup">Sign up</a></p>
</div>

<script src="/js/login.js"></script>